:root {
  --primary: #4f2fcc;
  --text-black: #000;
  --text-white: #fff;
  --text-disable: #d3d3d3;
  --text-red: #ff0000;
  --text-green: #6bbf0e;
  --shadow: 1px 1px 9px 2px #00000061;
  --light-bg: #f5f5f5;
  --gray : #838383;
}

body {
  font-family: "Raleway" !important ;
}

::selection {
  background: var(--primary);
  color: var(--text-white);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--text-disable);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-black);
}

a:hover {
  color: var(--primary) !important;
}

.f-bold {
  font-weight: 700;
}

button:disabled {
  background: var(--text-disable);
  border: 2px solid var(--text-disable);
}

button:disabled:after {
  content: none;
}

button:disabled:hover {
  color: var(--text-white);
  border: 2px solid var(--text-disable);
}

/* .container-fluid {
  padding: 0 2rem !important;
} */

.sticky-nav {
  box-shadow: 0px 0px 18px 2px rgb(112 110 110 / 41%);
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  background: var(--text-white);
  padding: 0 2rem;
}

.dropdown-menu {
  width: 13rem;
  box-shadow: var(--shadow);
}

.dropdown-menu-lg {
  width: 22rem;
  box-shadow: var(--shadow);
}

.dropdown-menu li {
  padding: 12px 10px;
  margin: 0 10px;
}

.dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid var(--text-disable);
}

.dropdown-menu li a {
  font-weight: 400;
  text-decoration: none;
  color: var(--text-black);
  font-size: 18px;
}

.dropdown-menu li i,
.dropdown-menu li img {
  margin-right: 10px;
}
.dropdown-menu li img {
  width: 20px;
}

.dropdown-menu .notification-dropdown {
  border: none !important;
}

.dropdown-menu .notification-dropdown:first-child {
  text-align: right;
}

.dropdown-menu .notification-dropdown p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  margin-bottom: 0;
  font-size: 15px;
  padding: 0 10px;
}

.dropdown-menu .notification-dropdown p:last-child {
  font-size: 12px;
}

.dropdown-menu .notification-dropdown .unread {
  position: relative;
}

.dropdown-menu .notification-dropdown .unread:before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  background: var(--primary);
  height: 5px;
  width: 5px;
  border-radius: 10px;
}

.dropdown-menu li:hover {
  background: var(--light-bg);
  border-radius: 5px;
}

.social-links-section a {
  padding: 0 1rem;
  color: var(--primary);
  font-size: 20px;
}
.social-links-section a:hover {
  color: var(--primary);
}
.d-j-flex h3 {
  position: relative;
  padding: 10px 0;
}

.d-j-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.d-j-flex h3:after {
  content: "";
  background: var(--primary);
  width: 40px;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.d-j-flex h3:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -5px;
  left: 0;
  border-left: 0;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--primary);
}
.news-slides {
  padding-right: 20px;
}
.news-slides img {
  border-radius: 10px;
}
.form {
  padding: 3rem;
}
.form .head-section {
  text-align: center;
  margin-bottom: 1rem;
}
.form .head-section img {
  width: 210px;
}
.form .head-section h2 {
  margin-top: 1rem;
}
.form-icon {
  position: absolute;
  top: 16px;
  right: 15px;
  color: var(--primary);
}
.logo-title {
  margin-left: 10px;
}
.form-section {
  border: 1px solid rgb(215 208 208);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 18px 2px rgb(68 68 68 / 41%);
}

.form-ul .active {
  background: var(--primary);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white !important;
  border-radius: 6px;
}
.form-ul a {
  padding: 0.5rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}
.form-ul a:hover {
  color: #8356f4;
}
.btn-custom {
  background: var(--primary) !important;
  color: var(--text-white) !important;
  border-radius: 5px !important;
}
.log-form-bg-image {
  background: url(../images/register.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.navbar-light .navbar-toggler {
  color: #8356f4 !important;
  border-color: #8356f4 !important;
}
.reg-form-bg-image {
  background: url(../images/login.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.form-image {
  height: 100%;
  border-radius: 5px;
}
.form-section .form-ul a {
  font-weight: bold;
  color: #000;
}
.anchor {
  color: var(--primary);
  text-decoration: none;
  font-size: 17px !important;
}
.anchor:hover {
  color: var(--primary);
}
.section-margin {
  margin: 10rem 0;
}
.center-form {
  margin: auto;
}
.form-checkbox-text {
  margin-left: 2rem;
}
.country-code {
  width: 80px !important;
}
.mobile-icon {
  top: 11px !important;
}
.digit-group input {
  width: 38px !important;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #cbc9c9;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: var(--text-black);
  margin: 0 2px;
}
.btn-google {
  background: #ea4335 !important;
}
.digit-group input:focus {
  outline: 2px solid var(--primary) !important;
  border-radius: 5px;
}
.digit-group {
  display: flex;
  justify-content: center;
}
.navbar-brand {
  color: var(--primary) !important;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  color: var(--text-white) !important;
  background: var(--text-white);
  -webkit-appearance: none;
}

.AuthFormCheckbox_checkmark_A7HnL {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 4px;
}
.AuthFormCheckbox_container_2-cgs
  input:checked
  ~ .AuthFormCheckbox_checkmark_A7HnL {
  background: var(--primary) !important;
  border-color: #ddd;
}
.AuthFormCheckbox_container_2-cgs
  input:checked
  ~ .AuthFormCheckbox_checkmark_A7HnL:after {
  display: block;
}
.AuthFormCheckbox_container_2-cgs .AuthFormCheckbox_checkmark_A7HnL:after {
  left: 9px;
  top: 4px;
  width: 6px;
  height: 12px;
  border: solid var(--text-white);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.checkbox {
  position: relative !important;
}
.input-checkbox {
  height: 9%;
  width: 8%;
  font-size: 20px !important;
}
.AuthFormCheckbox_checkmark_A7HnL:after {
  content: "";
  position: absolute;
}

.footer-icon a {
  margin-left: 0.75em;
  align-items: center;
  color: var(--text-white);
  font-size: 20px;
  padding: 0.5em;
  cursor: pointer;
}
.custom-link.nav-link.active {
  color: var(--primary) !important;
}

.custom-link.nav-link {
  color: var(--text-black) !important;
  font-weight: 500;
}

.custom-link.nav-link i {
  font-size: 25px;
}

.custom-nav .nav-item {
  padding: 0 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--primary) !important;
}

.hr {
  color: #4603e1 !important;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: space-between !important;
}
.banner-section {
  margin-top: 3rem;
  position: relative;
}
.banner-row {
  align-items: center;
}
.dual-heading {
  font-size: 50px;
  color: var(--text-black);
  font-weight: 600;
}

.dual-heading span,
.dual-heading-sm span {
  color: var(--primary);
}

.dual-heading-sm {
  font-size: 30px;
  color: var(--text-black);
  font-weight: 600;
}

.heading-border hr {
  width: 10%;
  margin: auto;
  height: 3px !important;
  color: var(--primary);
  opacity: 1 !important;
}
.heading-border p {
  color: var(--text-disable);
  font-weight: 600;
  margin: 20px 0;
}

.banner-img {
  width: 500px;
}

.grey-btn{

  background: var(--text-disable);
  color: var(--text-black);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;

}

.custom-btn {
  margin-right: 20px;
  border-radius: 8px;
  padding: 0.5rem 2rem !important;
  text-decoration: none;
  display: inline-block;
}

.custom-icon-btn {
  margin-right: 20px;
  border-radius: 8px;
  padding: 0.5rem 2rem !important;
  display: flex;
  text-align: left;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.custom-btn-sm {
  margin-right: 20px;
  border-radius: 5px;
  padding: 0.3rem 2rem !important;
  text-decoration: none;
  color: var(--text-white);
  background: var(--primary);
  border: 1px solid var(--primary);
}

.custom-btn-sm-sec {
  margin-right: 20px;
  border-radius: 5px;
  padding: 0.3rem 2rem !important;
  text-decoration: none;
  color: var(--primary);
  background: transparent;
  border: 1px solid var(--primary);
}

.custom-btn-sm:hover {
  color: var(--text-white) !important;
}

.custom-btn-sm-sec:hover {
  color: var(--primary);
}

.primary-btn {
  border: 2px solid var(--primary);
  color: var(--text-white);
  background: var(--primary);
  position: relative;
}

.secondary-btn {
  border: 2px solid var(--primary);
  background: transparent;
  color: var(--primary);
  position: relative;
}

.custom-icon-btn i {
  font-size: 30px;
  margin-right: 10px;
}

/* BUTTON TRANSITION */

.primary-btn:hover {
  color: var(--primary);
  border: 2px solid var(--primary);
  z-index: 1;
}

.primary-btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--text-white);
  z-index: -1;
  transition: all 0.5s ease-in-out;
  border-radius: 8px;
}

.primary-btn:hover:after {
  width: 100%;
}

.secondary-btn:hover {
  color: var(--text-white) !important;
  border: 2px solid var(--primary);
  z-index: 1;
}

.secondary-btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--primary);
  z-index: -1;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

.secondary-btn:hover:after {
  width: 100%;
}

/* BUTTON TRANSITION END */

.custom-btn b {
  margin-top: -5px;
}

.d-column {
  display: flex;
  flex-direction: column;
}
.btn-box {
  margin-top: 2rem;
  display: flex;
}

.custom-row {
  display: flex;
  justify-content: space-between;
  /* margin: 0 6rem; */
}

.mar-icon {
  background: var(--text-green);
  padding-top: 3px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 50%;
}
.carousel-section {
  margin-top: 5rem;
}

.slick-prev,
.slick-next {
  top: 100% !important;
  background: var(--text-black) !important;
  border-radius: 50%;
  transform: translate(0, 0) !important;
  background: #ffffff !important;
}
.slick-next {
  right: 22px !important;
}

.slick-prev {
  left: 93% !important;
}

.slick-prev:before,
.slick-next:before {
  opacity: 1 !important;
  font-size: 30px !important;
  color: black !important;
}

.slick-dots {
  text-align: left !important;
  width: 70% !important;
}

.slick-dots li.slick-active button:before {
  color: var(--primary) !important;
}

.slick-dots li button:before {
  opacity: 1 !important;
}

.section {
  margin-top: 5rem;
}

.d-column .custom-btn {
  padding: 0.5rem 2rem !important;
  display: flex !important;
  width: 220px;
  margin-bottom: 10px;
  border-radius: 15px;
  text-align: left;
  align-items: center;
}

.orange-border {
  border: 2px solid !important;
  border-image-slice: 1 !important;
  border-radius: 5px !important;
  overflow: hidden !important;
  border-width: 2px !important;
  border-color: #ff3c34 !important;
  /* border-image-source: linear-gradient(
  90deg, #ff3c34, #ff6d33) !important; */
}
.radius-50 {
  border-radius: 50%;
}
span.text {
  color: #828da1 !important;
  margin-left: 3px;
}
.grey {
  color: #575757 !important;
}
.green {
  color: var(--text-green) !important;
}

.red {
  color: var(--text-red);
}

.b-bottom{

  border-bottom: 1px solid #dee2e6;

}

.primary-a {
  color: var(--primary);
  text-decoration: none;
  margin: 0 10px;
}

.primary-a:hover {
  color: var(--text-black) !important;
}

td {
  color: var(--text-black);
  font-weight: 500;
  text-align: left;
  padding: 20px 10px !important;
}

th {
  padding: 20px 10px !important;
  text-align: left !important;
}

.t-heading {
  border: none !important;
}
.purple {
  color: var(--primary);
}
.box {
  border-radius: 5px;
  box-shadow: 0px 0px 1px 3px #c9c6c6b0;
  padding: 1rem;
}
.box-icon {
  width: 50%;
}
.cmt-2 {
  margin-top: 2rem;
}

.section-text h1 {
  font-size: 80px;
  font-weight: 700;
}
.section-text p {
  font-size: 25px;
}
.c-nav-tabs {
  width: 29%;
  background: var(--primary) !important;
  margin: 1rem;
  border-radius: 5px;
}
.c-nav-tabs .nav-link {
  color: var(--text-white) !important;
}
.nav-pills .nav-link {
  border-radius: 0px !important;
  border: none !important;
}
.c-nav-tabs:active {
}
.nav-pills .nav-link.active {
  background: var(--text-white) !important;
  color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
  border-radius: 4px !important;
}
h1 {
  /* font-size: 50px !important; */
  /* font-weight: 700 !important; */
}
.crypto-text {
  font-size: 25px;
}
.btn-padding {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  border-radius: 19px !important;
}
.crypto-text-large {
  font-size: 30px;
  margin-top: 1rem;
  font-weight: bold;
}

.accordion-button:focus {
  border: none !important;
  outline: 0;
  box-shadow: none !important;
  background: var(--primary) !important;
  color: var(--text-white) !important;
}

.accordion-button:not(.collapsed) {
  color: #e7f1ff !important;
  background-color: var(--primary) !important;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button {
  font-weight: 700;
  height: 75px;
  border-radius: 10px 10px 0px 0px !important;
}
.accordion-button:not(.collapsed)::after {
  color: red !important;
}
.footer-section {
  background: var(--primary);
  margin-top: 5rem;
  z-index: -999999999999;
}
.nav-item .text-muted {
  color: var(--text-white) !important;
  font-size: 20px;
}

.footer-text {
  font-size: 18px;
}

.popup {
  background: var(--text-white);
  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 2rem;
  z-index: 9999;
  position: sticky;
  margin-bottom: -150px;
  margin-top: 100px;
  /* top: -75px; */
}
.accordion-button:not(.collapsed)::after {
  background-image: none !important;
  content: "\f078";
  font-weight: 900;
  font: normal normal normal 14px/1 FontAwesome;
  transform: rotate(0) !important;
  color: #212529 !important;
  font-size: 20px;
}
.accordion-button::after {
  content: "\f077" !important;
  font: normal normal normal 14px/1 FontAwesome;
  /* transform: rotate(0) !important; */
  background-image: none !important;
  color: #737678 !important;
  transition: transform 0.2s ease-in-out;
  transform: rotate(-180deg);
  color: #212529 !important;
  font-size: 20px;
}
.popup h1 {
  font-size: 25px;
  font-weight: bold;
  line-height: 45px;
}
footer {
  margin-top: 5rem;
}
.footer-section footer {
  padding-top: 9rem !important;
}
.dash_title {
  margin: 19rem 0 !important;
}

label{

  margin-bottom: 10px;
  font-weight: 600;

}

.swap-btn {
  border: 1px solid #ababab !important;
  position: relative;
}
.swap-btn .content {
  justify-content: start;
}
.swap-btn .content .coins {
  margin-right: 10px;
}
.swap-btn .content img {
  margin-right: 4px;
}
.swap-btn .content span {
  margin-right: 8px;
}
.swap-btn .content {
  color: #726f6f;
}
.swapping .swap-icon {
  transform: rotate(90deg);
}

.form-control {
  height: 50px;
}
.form-control:focus {
  border: 1px solid var(--primary) !important;
  box-shadow: none !important;
}

.form-control::placeholder {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--text-disable) !important;
}



.modal-body .input-group {
  height: 50px;
  padding: 0 4rem;
}
/* .modal-body .input-group button {
  border-left: none;
  border: 1px solid #ababab !important;
}
.modal-body .input-group button:focus {
  border-left: none;
  border: 1px solid #ababab !important;
  box-shadow: none !important;
} */
.coins-section ul {
  list-style: none;
}
.coins-section ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.75em 0.5em;
  transition: transform 0.3s;
}
.coins-section .text {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  text-align: left;
  padding-left: 0.75em;
}
.coins-section i {
  font-size: 20px;
  font-weight: bold;
}
.coins-section .text span:first-of-type {
  font-weight: 700;
}
.coins-section .text span:last-of-type {
  color: #666;
}
.coins-section ul li:hover {
  transform: scale(1.05);
  border: 1px solid #ddd;
}
.btn-close:focus {
  box-shadow: none !important;
}
.text-box h4 {
  color: #a3a3a3;
}
.text-box span {
  font-weight: bold;
  font-size: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.swap-head {
  padding: 1rem;
  margin-top: 20px;
}
.text-right {
  text-align: right;
}
.pointer {
  cursor: pointer;
}
.orange-border.form-control {
  border: 2px solid !important;
  border-image-slice: 1 !important;
  border-radius: 5px !important;
  overflow: hidden !important;
  border-width: 2px !important;
  border-color: #ff3c34 !important;
}
.btn-orange.form-control {
  border: none !important;
}
.total {
  margin: 1.8rem 0;
}
.d-box {
  padding: 1rem;
  color: var(--text-white);
  margin-top: 1rem;
  border-radius: 20px;
}
.d-box .text {
  margin-top: 5px;
}
.search-box {
  width: 300px;
  margin: 2rem auto;
}
.search-box .input-group {
  height: 50px;
}
.search-box .input-group .form-control {
  border: 1px solid #ababab !important;
  border-right: none !important;
}
.search-box .input-group button {
  border-left: none;
  border: 1px solid #ababab !important;
}

.modal-dialog-centered .modal-body .input-group {
  padding: 0px !important;
}
.btn-custom-copy {
  background: #6d66ae !important;
}
.bg-section {
  background: url("../images/bg.png");
  background-position: 211%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.bg-section-lg {
  background: url("../images/bg.png");
  background-position: 113%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.custom-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff7a;
  z-index: -1;
}

/* WASI NEW*/

.market-box {
  background-color: var(--primary);
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: var(--text-black);
  padding: 20px;
  color: var(--text-white);
}

.market-box img {
  width: 35px;
  margin-right: 10px;
}

.market-data P {
  margin: 0;
  text-transform: uppercase;
}

.market-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.market-footer p {
  margin: 0;
}

.market-box-two {
  background-color: var(--text-white);
  padding: 30px;
  color: var(--text-black);
  border-radius: 13px;
  box-shadow: var(--shadow);
}

.market-box-two img {
  margin-right: 15px;
  flex-basis: 15%;
}

.market-box-two .market-data {
  flex-basis: 85%;
  display: flex;
  justify-content: space-between;
}

.market-footer a {
  border: 1px solid var(--text-black);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-black);
  background: var(--light-bg);
  transition: all 0.5s;
}

.market-footer a:hover {
  color: var(--text-black) !important;
  background: var(--text-white);
}

.loosers-gainers-tabs {
  border: none !important;
}

.nav-tabs .nav-link {
  color: var(--text-disable);
  font-weight: 600;
  border: none !important;
}

.nav-tabs .nav-link.active {
  color: var(--primary) !important;
  border-bottom: 2px solid var(--primary) !important;
  border-top: none;
  border-left: none;
  border-right: none;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: none;
  color: var(--primary);
}

.half-color {
  background-image: linear-gradient(
    360deg,
    var(--primary) 50%,
    var(--text-white) 50%
  );
  padding: 30px 0;
}
.box-two {
  background: var(--text-white);
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  height: 100%;
}

.box-two h5 {
  text-transform: uppercase;
}

.box-two img {
  margin-bottom: 40px;
}

.box-two .box-head {
  margin-bottom: 20px;
}

.box-two .box-body {
  margin: 20px 0;
}

.box-two .box-body:nth-child(5) {
  margin-bottom: 110px;
}

.box-bg {
  background-image: url(../images/logo.png);
  background-position: 160px 50%;
  position: relative;
  background-repeat: no-repeat;
  z-index: 1;
  border-radius: 10px;
}

.box-bg::after,
.big-bg::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--text-white);
  opacity: 0.8;
  top: 0;
  left: 0;
  border-radius: inherit;
  z-index: -1;
}

.accordion-flush .accordion-item {
  box-shadow: var(--shadow);
  margin: 30px 0;
}

.current-features {
  box-shadow: var(--shadow);
  padding: 50px 0;
  margin: 50px 0;
  text-align: center;
  border-radius: 13px;
}

.current-features img {
  width: 120px;
}

.box-two hr {
  color: var(--primary);
  height: 2px !important;
  opacity: 1 !important;
}
.react-tel-input .form-control {
  height: 50px !important;
  width: 100% !important;
}
.search-box {
  width: auto !important;
  margin: 0px auto !important;
}
.form-top-bar {
  padding: 1rem 1rem 0rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-top-bar i {
  font-size: 20px;
  cursor: pointer;
}
.form-top-bar i:hover {
  color: var(--primary);
}
.form-secion-margin {
  margin: 3rem 0;
}
.css-1pahdxg-control:hover {
  border-color: var(--primary) !important;
}
.modal-content {
  border-radius: 10px !important;
}

.welcome-sc img {
  width: 500px;
}

.search-coins {
  position: relative;
  width: 50%;
  margin: 3rem auto;
}

.search-coins input {
  padding-left: 40px;
}

.search-coins i {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(15px, -100%);
  color: var(--text-disable);
}

.grey-bg {
  background: var(--light-bg);
  padding: 3rem 0 !important;
}

.table > :not(:first-child) {
  border-top: 1px solid var(--text-black) !important;
}

.star {
  color: #f0b90b;
}

.nav-link img {
  width: 22px;
  margin-right: 8px;
}
.form-slash i {
  transform: rotate(52deg);
  font-size: 25px;
  font-weight: bolder;
}

.market-down,
.market-up {
  color: var(--text-white);
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 10px;
}

.market-down {
  background: var(--text-red);
}

.market-up {
  background: var(--text-green);
}

.market-overview-box {
  border: 1px solid var(--text-disable);
  padding: 25px;
  height: 370px;
  overflow-y: auto;
  position: relative;
}

.market-overview-head {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 600;
}

.price-change-chart{

  position: absolute;
  bottom: 0;
  right: 50%;
  left: 50%;

}

.chart-data{

  width: 50px;

}

.chart-green{
  background: var(--text-green);
}


.security-verify-modal .modal-body i {
  text-align: end;
  display: block;
  cursor: pointer;
}

.security-verify-modal .modal-body {
  padding: 30px 50px;
}

.modal-box-verify {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.modal-box-verify img {
  width: 50px;
  margin-bottom: 10px;
}

.modal-box-verify a {
  text-decoration: none;
  color: var(--text-black);
  box-shadow: var(--shadow);
  background: var(--text-white);
  padding: 30px;
  font-size: 12px;
  position: relative;
  z-index: 1;
}
.modal-box-verify a:hover {
  color: var(--text-white) !important;
}

.modal-box-verify a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--primary);
  transition: all 0.5s;
  z-index: -1;
}

.modal-box-verify a:hover:after {
  height: 100%;
}

.verification {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 70px 0 120px 0;
}

.verification-item {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verification-item .verification-content {
  margin-bottom: 0;
  position: absolute;
  top: 120%;
  /* left: 0%;
  width: 200px; */
}

.verification-circle {
  border: 1px solid var(--primary);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.verification-hr {
  background-color: var(--primary);
  border-color: var(--primary);
  width: 150px;
  height: 1px !important;
  margin: 0;
  opacity: 1 !important;
}

.circle-done {
  background-color: var(--primary);
  color: var(--text-white);
}


.deposit-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 70px 0 120px 0;
}

.deposit-item {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deposit-item .deposit-content {
  margin-bottom: 0;
  position: absolute;
  top: 120%;
   left: 0%;
  width: 200px; 
 text-align: start;

}

.deposit-circle {
  border: 1px solid var(--primary);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.deposit-hr {
  background-color: var(--primary);
  border-color: var(--primary);
  width: 200px;
  height: 2px !important;
  margin: 0;
  opacity: 1 !important;
}


.deposit-flex{

display: flex;
align-items: center;
padding: 3rem !important;
}

.deposit-flex img{

  margin-right: 3rem;
  
}


.coins-section ul{

  padding: 0;

}

.form-group-flex{

  display: flex;

}

.form-group-flex p{

  flex-basis: 20%;

}


.form-group-flex .group-basis{

  flex-basis: 80%;

}


.form-group-flex i{
position:absolute;
right: 10px;

}

.query ul{

list-style: none;
padding: 0;
line-height: 30px;
margin: 20px 0;

}

.learn-more{

  color: var(--text-black);

}


.network-list{

  padding: 0;
  list-style: none;

}



.network-list li{

 border-bottom: 2px solid var(--text-disable);
 padding: 1.5rem 0;

}


.network-list li p{

margin: 0;
 
 }

 .black-header{
   background: var(--text-black);
   padding: 2rem;
   display: flex;
   justify-content: space-between;
   box-shadow: var(--shadow);
 }
 .black-header a{
   text-decoration: none;
   font-size: 20px;
   padding: 0 1rem;
   color: var(--text-white);
 }
 .white-header{
  background: var(--text-white);
  padding: 1.5rem 2rem;
  display: flex;
  box-shadow: var(--shadow);
 }
 .white-header .ul a{
  text-decoration: none;
  font-size: 20px;
  padding: 0 1rem;
  color: var(--primary);
}
.white-header-box{
  background: var(--light-bg);
  padding: 0 1rem;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 5px;
}
.white-header-box a{
  text-decoration: none;
  color: var(--text-black);
  font-size: 20px;
  margin-right: 1rem;
  padding: 3px;
}
.white-header-box .h-active{
  color: var(--text-white);
  background: var(--text-green);
  border-radius: 10px;
}
.trading-section{
  margin-top: 2rem;
}
.trading-section .filter{
  display: flex;
 
}
.filter .custom-input-group{
display: flex;
flex-direction: column;
margin-right: 1rem;
}
.filter .custom-input-group .search{
border: 2px solid gray;
}
.coin-section-ab .normal-btn img{
  width: 22px;
}
.normal-btn{
  background: white;
  border: 1px solid gray;
  border-radius: 3px;
}
.td-flex{
  display: flex;
  align-items: center;
}
.td-flex p{
  margin: 0;
  color: gray;
}
.td-flex .icon{
  background: var(--text-green);
  padding: 0 0.5rem;
  border-radius: 50px;
}
.ml-1{
  margin-left: 1rem;
}
.btn-gray{
  background: var(--gray) !important;
  color: var(--text-white) !important;
  border-color: var(--gray) !important;
}
.buy-trade-box{
  margin-top: 3rem;
}
.buy-trade-box img{
  width: 75%;
  margin-bottom: 1rem;
}
.faq-section-light{
  background: var(--light-bg);
  padding: 1rem 0;
}
.custom-accordion{
  padding: 0;
  list-style: none;
}
.custom-accordion li{
  padding: 1rem 0;
  cursor: pointer;
}
.custom-accordion .accordion-content{
  margin-left: 1.7rem;
  margin-right: 1.7rem;
  padding-top: 1rem;
  font-size: 17px;
}
.custom-accordion-hide{
  height: 0px !important;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.custom-accordion-show{
  height: auto !important;
  overflow: hidden;
  opacity: 5;
  transition: all 1s;
}
.custom-accordion i{
  background: var(--primary);
  color: var(--text-white);
  padding: 0.3rem 0.3rem;
  border-radius: 50px;
  margin-right: 5px;
}
.custom-accordion li span{
  font-size: 20px;
}

.custom-selector{
  height: 28px;
}
.round-icon{
  color: var(--text-green);
  padding-right: 5px;
}
.buy-type{
  color: var(--text-green);
  padding-right: 1rem;
}
.express-section{
  margin: 5rem 0;
}
.shadow{
  box-shadow: var(--shadow);
  border-radius: 20px;
}
.express-form-section{
  padding: 2rem;
}
.coins-btn-ab{
  position: absolute;
  right: 11px;
  top: 43px;
  cursor: pointer;
}
.form-tabs{
  display: flex;
  justify-content: space-between;
}
.form-tabs .nav-item{
  width: 50%;
  text-align: center;
  font-size: 30px;
}
.form-tabs .nav-pills .nav-link.active{
  background: var(--primary) !important;
  color: var(--text-white) !important;
}
.form-tabs .nav{
  display: flex;
  width: 100%;
  
}
.user-email-section{
  display: flex;
  align-items: center;
}
.user-email-section span{
  padding-left: 1rem;
}
.user-center-header{
  display: flex;
  justify-content: space-between;
}
.user-center-ul{
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.user-center-ul li{
  width: 16%;
  margin-top: 1rem;
}
.user-center-ul li p{
  color: var(--gray);
}
.post-ads-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px 0 120px 0;
}
.post-ads-bar .verification-item .verification-content{
  width: 300px;
}
.post-ads-bar .verification-hr{
  width: 250px !important;
}
.post-new-box{
  box-shadow: var(--shadow);
}
.post-inner-box{
  padding: 2rem;
}
.post-inner-box ul{
  padding: 0;
  list-style: none;
  display: flex;
}
.post-inner-box ul li{
width: 10%;
}
.post-inner-box ul li input{
  accent-color: var(--primary);
  margin-right: 0.5rem;
}
.post-footer-ul li{
  width: 25% !important;
}
.text-ab{
  position: absolute;
  right: 17px;
  top: 46px;
}
.small-icon-btn{
  margin-right: 20px;
  border-radius: 5px;
  padding: 0.3rem 2rem !important;
  text-decoration: none;
  background: transparent;
  display: flex;
    align-items: center;
}
.small-icon-btn i{
margin-left: 5px;
}
.btn-white{
  color: var(--text-black);
  border: 1px solid var(--gray);

}
.small-primary-btn{
  color: var(--primary);
  border: 1px solid var(--primary);
}
.payment-btn-group{
  display: flex;
}
.flex-div{
  display: flex;
  align-items: center;
}
.flex-div span{
  margin-left: 5px;

}
.flex-div input{
  accent-color: var(--primary);
}